# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

#- task: wiz@0
#  inputs:
#    scanPolicies: 'nhomma - new IAC Policy'
#    fileHashesScan: true
#    debug: true
#    command: 'iac'
#    clientid: '$(WizClientId)'
#    secret: '$(WizClientSecret)'
#    path: '.'
#    # Show all results - not just ones that trigger based on policy
#    policyHitsOnly: false
#    # Print out summary of results
#    summary: true
#    sensitiveData: true
#    scanSecrets: true
#  displayName: "Static Analysis: Perform Wiz IaC Scan"

#- task: wiz@0
#  inputs:
#    fileHashesScan: true
#    debug: true
#    command: 'dir'
#    clientid: '$(WizClientId)'
#    secret: '$(WizClientSecret)'
#    path: '.'
#    # Show all results - not just ones that trigger based on policy
#    policyHitsOnly: false
#    # Print out summary of results
#    summary: true
#    sensitiveData: true
#    scanSecrets: true
#  displayName: "Static Analysis: Perform Wiz Directory Scan"

- task: CmdLine@2
  inputs:
    script: |
       sudo mkdir -p /work/dir
       sudo chmod 777 /work/dir
       sudo curl -o /work/dir/v1-wizcli https://downloads.wiz.io/v1/wizcli/latest/wizcli-linux-amd64
       sudo chmod +x /work/dir/v1-wizcli
       sudo curl -o /work/dir/wizcli https://downloads.wiz.io/wizcli/latest/wizcli-linux-amd64
       sudo chmod +x /work/dir/wizcli
  displayName: Download latest WizCLI

#      sudo curl -o /tmp/v1-wizcli https://downloads.wiz.io/v1/wizcli/latest/wizcli-linux-amd64
#      sudo chmod +x /tmp/v1-wizcli

#- task: wiz@1
#  inputs:
#    serviceConnectionId: 'wiz-service-connection'
#    command: 'scan'
#    scanType: 'dir'
#    path: '.'
#    policies: 'nhomma - new IAC Policy'
#    wizCliPath: '/work/dir'
#    wizDir: '/tmp'
#    downloadWizCli: false

- task: wiz@0
  inputs:
    command: 'dir'
    clientid: '$(WizClientId)'
    secret: '$(WizClientSecret)'
    path: '.'
    wizCliPath: '/work/dir'
    wizDir: '/tmp'