# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: wiz@0
  inputs:
    fileHashesScan: true
    debug: true
    command: 'iac'
    clientid: '$(WizClientId)'
    secret: '$(WizClientSecret)'
    path: '.'
    # Show all results - not just ones that trigger based on policy
    policyHitsOnly: false
    # Print out summary of results
    summary: true
    sensitiveData: true
    scanSecrets: true
  displayName: "Static Analysis: Perform Wiz IaC Scan"

- task: wiz@0
  inputs:
    fileHashesScan: true
    debug: true
    command: 'dir'
    clientid: '$(WizClientId)'
    secret: '$(WizClientSecret)'
    path: '.'
    # Show all results - not just ones that trigger based on policy
    policyHitsOnly: false
    # Print out summary of results
    summary: true
    sensitiveData: true
    scanSecrets: true
  displayName: "Static Analysis: Perform Wiz Directory Scan"

