# This is a basic workflow to help you get started with Actions

name: My wizcli workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  wiz-cli-iac-scan:
    name: "Wiz-cli IaC Scan"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      SCAN_PATH: "." # Set the relative path in the repo to scan
      # POLICY: "Default IaC policy" # Set the desired Wiz CLI policy to use

    defaults:
      run:
        shell: bash

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Download Wiz CLI
        run: curl -o wizcli https://downloads.wiz.io/wizcli/latest/wizcli-linux-amd64 && chmod +x wizcli

      - name: Authenticate to Wiz
        run: ./wizcli auth --id "$WIZ_CLIENT_ID" --secret "$WIZ_CLIENT_SECRET"
        env:
          WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
          WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          pwd
          ls -la
          echo ""

      - name: Run wiz CLI IaC scan
        run: ./wizcli iac scan --path $SCAN_PATH --log debug.txt

      - name: Upload Log file
        uses: actions/upload-artifact@v4
        with:
          name: debug_log
          path: debug.txt

      - name: grep log
        run: grep EXCEPTION debug.txt || echo "No exceptions found"
